<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_routine_maintenance_path(@routine_maintenance) %> |
<%= link_to 'Back', routine_maintenances_path %>

<%= link_to 'Home', controller: "logins", action: "landing" %>
